:host ::ng-deep .node text {
    font-size: 10px;
    font-family: sans-serif;
}

:host ::ng-deep .node {
    cursor: pointer;
}

:host ::ng-deep .overlay {
    background-color: #EEE;
}

:host ::ng-deep .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

:host ::ng-deep .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

:host ::ng-deep .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

:host ::ng-deep .ghostCircle.show {
    display: block;
}

:host ::ng-deep .ghostCircle,
:host ::ng-deep .activeDrag .ghostCircle {
    display: none;
}

.node text {
    font-size: 10px;
    font-family: sans-serif;
}

.node {
    cursor: pointer;
}

.overlay {
    background-color: rgba(253, 250, 199, 0.89);
}

.node circle {
    fill: #F97171;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: #F70707;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: #406CF7;
    stroke-width: 3px;
}

.ghostCircle.show {
    display: block;
}

.ghostCircle,
.activeDrag .ghostCircle {
    display: none;
}