<div [@routerTransition]>
    <h2 class="text-muted"><b>Van Wilson</b> <small><i> &nbsp;&nbsp;   - &nbsp; Full Stack Cloud Development</i> </small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-3 text-xs-center" *ngFor="let item of imagesItems">
            <div class="">
                <img class="img-fluid mx-auto d-block" [src]="item.imagePath" alt="item.label">
                <div class="">
                    <p class="image-text">{{item.label}}</p>

                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>