<div [@routerTransition]>
    <h2 class="text-muted"><b>Sites I've Built</b> <small><i> &nbsp;&nbsp;   - &nbsp; Full Stack Cloud Development</i> </small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>

                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <table border="0" width="100%">
            <tr>
                <!-- Row 1 -->
                <td>
                    <img src="assets/images/Smartliving_004.png" width="200" height="300" alt="" title="Smartliving.ph" />
                </td>
                <!-- Col 1 -->
                <td>
                    <img src="assets/images/FinancialFitnessCoach_002.png" width="200" height="300" alt="" title="Financial Fitness Coach" />
                </td>
                <!-- Col 2 -->
                <td>
                    <img src="assets/images/HealthyBloodCell.png" width="200" height="300" alt="" title="Healthy Blood Cell" />
                </td>
                <!-- Col 3 -->
            </tr>
            <tr>
                <!-- Row 2 -->
                <td>SMART Living.ph</td>
                <!-- Col 1 -->
                <td>Financial Fitness Coach</td>
                <!-- Col 2 -->
                <td>Healthy Blood Cell</td>
                <!-- Col 3 -->
            </tr>
        </table>
    </div>
</div>